<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
    
    
    
  </head>
  <button id="hey-button", style="width: 100px;">Click me</button>

  <body>
  <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
  <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <%=render 'layouts/header'%>
    <%= yield %>
  <footer>
  <p>© 2024 Reddoorz</p>
  
</footer>
</body>
</html>
